.content {
    margin: 20px auto;
    max-width: 760px;
}

.heading {
    text-align: center;
    color: #4f4c4c;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 2px solid #ddd;
    text-align: center;
    padding: 8px;
}

th {
    background-color: #1cdc15;
    color: #fff;
}

.btn {
    display: inline-block;
    width: 100px;
    padding: 6px 12px;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    margin: 2px;
    font-weight: bold;
    text-decoration: none;
}

.btn-red {
    background-color: #e3342f;
    /* 赤 */
}

.btn-blue {
    background-color: #0000FF;
    /* 青 */
}

.btn-orange {
    background-color: #FFA500;
    /* オレンジ */
}

.btn-pink {
    display: inline-block;
    width: 100px;
    padding: 6px 12px;
    text-align: center;
    border: solid 2px #FF00FF;
    border-radius: 5px;
    font-size: 14px;
    color: #FF00FF;
    cursor: pointer;
    margin: 2px;
    font-weight: bold;
    text-decoration: none;/* ピンク */
    background-color: #f8eaed;
}

.btn-green {
    display: inline-block;
        width: 100px;
        padding: 6px 12px;
        text-align: center;
        border: solid 2px #1cdc15;
        border-radius: 5px;
        font-size: 14px;
        color: #1cdc15;
        cursor: pointer;
        margin: 2px;
        font-weight: bold;
        text-decoration: none;
        /* ピンク */
        background-color: #f8faf8;
}

.btn:hover {
    opacity: 0.85;
}

</style>

.back__button {
    text-align: center;
    align-items: center;
    position: fixed;
    bottom: 60px;
    width: 100px;
    padding: 5px;
    height: 35px;
    border: none;
    border-radius: 3px;
    background: #808080;
    cursor: pointer;
    font-size: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.back {
    color: #fff;
    text-decoration: none;
}