.content {
    margin: 20px auto;
    max-width: 760px;
}

.ttl {
    text-align: center;
    color: #4f4c4c;
}

.user {
    display: flex;
    text-align: center;
    width: 50%;
    margin: 10px auto;
    justify-content: space-between;
}

.user_inner {
    font-size: 20px;
    color: #4f4c4c;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 2px solid #ddd;
    text-align: center;
    padding: 8px;
}

th {
    background-color: #1cdc15;
    color: #fff;
}

.btn-warning {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.btn-secondary {
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.back__button {
    text-align: center;
    width: 100px;
    margin: 40px auto;
    padding: 5px;
    height: 35px;
    border: none;
    border-radius: 3px;
    background: #808080;
    cursor: pointer;
    font-size: 15px;
}

.back {
    color: #fff;
    text-decoration: none;
}