.content {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1000px;
}

.heading {
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    color: #4f4c4c;
}

/* フォーム全体のスタイル */
.form {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px 50px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 各入力欄 */
.mb-3 {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    color: #333;
}

/* テキスト入力欄 */
input[type="text"],
textarea,
input[type="file"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* ファイル選択ボタン */
input[type="file"] {
    padding: 5px;
}

/* テキストエリアのスタイル */
textarea {
    resize: vertical;
}

.send_to {
    text-align: left;
    margin-bottom: 20px;
}
/* 送信先設定ボタン */
.btn-info {
    display: inline-block;
    background-color: white;
    border: solid 1px #17a2b8;
    color: #17a2b8;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
}

/* 確認ボタン */
.btn-success {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-success:hover {
    background-color: #218838;
}

.text-end {
    text-align: center;
    margin-top: 20px;
}

.back__button {
    text-align: center;
    align-items: center;
    position: fixed;
    bottom: 60px;
    width: 100px;
    padding: 5px;
    height: 35px;
    border: none;
    border-radius: 3px;
    background: #808080;
    cursor: pointer;
    font-size: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.back {
    color: #fff;
    text-decoration: none;
}