.content {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.heading {
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    color: #4f4c4c;
}

.menu {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 25px;
    margin: 30px auto;
    text-align: center;
    width: 45%;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu__button {
    text-align: center;
    width: 90%;
    padding: 10px;
    background-color: #007bff;
    border-radius: 5px;
    margin: 30px auto;
}

.menu__item {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
}

.master-menu__button {
    text-align: center;
    width: 90%;
    padding: 10px;
    background-color: #DB7093;
    border-radius: 5px;
    margin: 30px auto;
}

.master-menu__item {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
}

.back__button {
    text-align: center;
    align-items: center;
    position: fixed;
    bottom: 60px;
    width: 100px;
    padding: 5px;
    height: 35px;
    border: none;
    border-radius: 3px;
    background: #808080;
    cursor: pointer;
    font-size: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.back {
    color: #fff;
    text-decoration: none;
}