.footer {
    background-color: #333;
    /* 背景色 */
    color: #fff;
    /* 文字色 */
    text-align: center;
    /* 中央揃え */
    padding: 20px;
    /* 上下の余白 */
    position: fixed;
    /* フッターを画面下部に固定 */
    bottom: 0;
    /* 画面下部からの位置 */
    width: 100%;
    /* 横幅を画面全体に */
}