.top__content {
    width: 100%;
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 100%;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .top__content {
        max-width: 720px;
        /* タブレット〜PC時のみ制限をつける */
    }
}
.user__info {
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
}

.user__ttl {
    margin: 0 10px;
    color: #4f4c4c;
    font-size: 20px;
    font-weight: bold;
}

.news__content {
    text-align: center;
    justify-content: center;
    display: flex;
    line-height: 13px;
}

.news {
    margin: 0 auto;
    width: 70%;
    border: 1px solid #4f4c4c;
    border-radius: 3px;
    padding: 0 15px;
}

.menu {
    margin: 40px auto;
    text-align: center;
    width: 70%;
    padding: 15px;
    background-color: aliceblue;
    border-radius: 5px;
}

.menu__button {
    display: inline-block;
    text-align: center;
    width: 90%;
    color: #fff;
    padding: 10px;
    background-color: blue;
    border-radius: 5px;
    text-decoration: none;
    margin: 15px auto;
    cursor: pointer;
}

