.content {
    margin: 20px auto;
    padding: 20px 15px;
    max-width: 760px;
}

.ttl {
    margin-bottom: 20px;
    text-align: center;
    color: #4f4c4c;
}

.register__content {
    margin: 60px auto;
}

.mail__ttl {
    text-align: center;
}

h3 {
    color: #4f4c4c;
}

.mail__input {
    text-align: center;
}

input {
    width: 270px;
    height: 30px;
    text-align: center;
    font-size: 18px;
    color: #808080;
}

.form__button {
    text-align: center;
    margin-top: 70px;
}

.form__button-submit {
    padding: 10px;
    width: 30%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: blue;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
}

.success {
    color: green;
    text-align: center;
    margin: 40px;
}

.back__button {
    text-align: center;
    align-items: center;
    position: fixed;
    bottom: 60px;
    padding: 5px;
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 3px;
    background: #808080;
    cursor: pointer;
    font-size: 15px;
    left: 50%;
    transform: translateX(-50%);
}

a {
    color: #fff;
    text-decoration: none;
}

