.calendar {
    width: 100%;
    max-width: 720px;
    margin: 20px auto;
    text-align: center;
}

.calendar h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #4f4c4c;
}

.month {
    color: #4f4c4c;
    font-size: 16px;
    font-weight: bold;
}

.month-navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.month_change {
    text-decoration: none;
    font-size: 15px;
    color: #007bff;
    padding: 5px;
}

.calendar table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.calendar th,
.calendar td {
    width: 14.28%;
    border: 2px solid #fff;
    padding: 10px;
    vertical-align: top;
}

.calendar th {
    background-color: #98FB98;
    font-weight: bold;
    font-size: 18px;
}

.weekday {
    color: #4f4c4c;
}

.sunday {
    color: red;
}

.saturday {
    color: blue;
}

.calendar td {
    height: 100px;
    background-color: #fafafa;
    position: relative;
}

.calendar td strong {
    display: block;
    margin-bottom: 5px;
    color: #4f4c4c;
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 14px;
    color: inherit;
}

.calendar td.sunday strong {
    color: red;
}

.calendar td.saturday strong {
    color: blue;
}

.calendar td p {
    font-size: 18px;
    margin: 10px 0 0;
    color: #4f4c4c;
}

.back__button {
    text-align: center;
    align-items: center;
    position: fixed;
    bottom: 60px;
    width: 100px;
    padding: 5px;
    height: 35px;
    border: none;
    border-radius: 3px;
    background: #808080;
    cursor: pointer;
    font-size: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.back {
    color: #fff;
    text-decoration: none;
}