.content {
    margin: 20px auto;
    max-width: 760px;
}

.ttl {
    text-align: center;
    color: #4f4c4c;
}

.user_name {
    text-align: center;
    color: #4f4c4c;
    margin-bottom: 60px;
}

.choose {
    margin: 30px;
    text-align: center;
}

.user {
    text-align: center;
    margin: 20px auto;
    width: 40%;
    border: blue 1px solid;
    border-radius: 5px;
    background-color: aliceblue;
}

.user_inner {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 5px;
    text-decoration: none;
}

.user_text {
    font-size: 20px;
    text-align: center;
    padding: 5px;
    color: blue;
}

.back__button {
    text-align: center;
    align-items: center;
    position: fixed;
    bottom: 60px;
    width: 100px;
    padding: 5px;
    height: 35px;
    border: none;
    border-radius: 3px;
    background: #808080;
    cursor: pointer;
    font-size: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.back {
    color: #fff;
    text-decoration: none;
}