.content {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 760px;
}

.heading {
    margin-bottom: 50px;
    text-align: center;
}

h2 {
    color: #4f4c4c;
}

.search {
    margin: 30px auto;
    text-align: center;
    width: 400px;background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 50px;
}

.search form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form__label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

/* セレクトボックス */
select {
    padding: 8px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    transition: border-color 0.2s ease-in-out;
}

select:focus {
    border-color: #007bff;
    outline: none;
}

.search__button {
    padding: 8px 15px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin-top: 20px;
}

.back__button {
    text-align: center;
    align-items: center;
    position: fixed;
    bottom: 60px;
    padding: 5px;
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 3px;
    background: #808080;
    cursor: pointer;
    font-size: 15px;
    left: 50%;
    transform: translateX(-50%);
}

a {
    color: #fff;
    text-decoration: none;
}